@{
    ViewData["Title"] = "eOrdinacija";
}

<link rel="stylesheet" type="text/css" href="~/css/naslovna.css">

<div class="container-fluid pozadina">
    <div class="row">
        <div class="col-lg-3 text">
            <b>
                Medicina je naučna oblast čiji su predmet interesovanja zdravlje i blagostanje živih bića,
                najprije podrazumjevajući zdravlje čovjeka, a potom i zdravlje nekih redova životinja.
                Riječ medicina porijeklom je iz latinskog jezika i znači lijek (remedium),
                a upotrebljava se i izraz ars medicina kao umjetnost liječenja.
                Zasnovana je dva principa: teorijsko-istraživačkom i praktičnom, ili često nazvanim, kliničkim principom.
                Teorijsko-istraživački princip će omogućiti da se određena oblast, bolest,
                urođena mana ili stanje definiše, detaljno prouči i nakon izvršenih testova uputi na zaključivanje.
            </b>
        </div>


        <div class="slike col-lg-6">

            <img class="mySlides col-lg-12" src="~/slike/ordinacija11.jpg">
            <img class="mySlides col-lg-12" src="~/slike/ordinacija22.jpg">
            <img class="mySlides col-lg-12" src="~/slike/ordinacija3.jpg">

        </div>


        <form class="col-lg-3 prijava" action="#" method="POST">

            <div class="form-group">
                <p style="text-align: center;"><b>Zakažite termin</b></p>
                <label for="usr">Ime i Prezime:</label>
                <input type="text" class="form-control" id="usr" placeholder="Ime i prezime" name="Ime i prezime">
            </div>
            <div class="form-group">
                <label for="pwd">Vaš Email:</label>
                <input type="email" name="Email pacijenta" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="pwd">Broj telefona:</label>
                <input type="tel" class="form-control" id="pwd" placeholder="Telefon" name="Broj telefona">
            </div>
            <div class="form-group">
                <label for="comment">Odaberite datum koji vam odgovara:</label>
                <script>
                    function getDate() {
                        var today = new Date();

                        document.getElementById("datum").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);


                    }</script>
                <input type="date" name="Datum termina" class="form-control" id="datum" onload="getDate()">

            </div>
            <div class="form-group">
                <label for="comment">Opišite Vaše stanje:</label>
                <textarea class="form-control" rows="6" id="comment" name="Stanje pacijenta"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">
                    <i class="fa fa-paper-plane-o" aria-hidden="true" style="color: black;"></i> Pošalji
                </button>
            </div>


        </form>

    </div>

</div>

<script src="~/js/naslovna.js"></script>
