@{
    ViewData["Title"] = "Privacy Policy";
}



<link rel="stylesheet" type="text/css" href="~/css/naslovna.css">


<h2 style=" text-align: center; margin-top: 2%;">Naše usluge</h2>

<div class="container-fluid pozadina">

    <div class="row">

        <div class="col-lg-7 col-sm-7 col-xs-12 col-7 text">
            <img src="~/slike/ordinacija11.jpg" alt="magnetna rezonanca" style="width: auto; height: auto; max-height: 400px; max-width: 100%;">
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-0 col-1 text">

        </div>
        <div class="col-lg-3 col-sm-3 col-xs-12 col-3 text">

            U praktičnoj medicini ultrazvuk se primjenjuje u liječenju različitih reumatskih bolesti (ultrasonoterapija), u dijagnostici, osobito u opstetriciji (razvoj zametka, mnogostruka trudnoća, promjene placente i drugo) i u kardiologiji. Svojstva nekoga tkiva mogu se utvrditi na temelju brzine kojom se ultrazvuk širi u tkivu. Otpor što ga širenju ultrazvuka pružaju tkiva može se pretvaranjem odbijenih ultrazvučnih valova u električne impulse pratiti na zaslonu uz pomoć elektroničkih uređaja (ehokardiografija; ehooftalmografija; ehosonografija ili ultrasonografija; encefalografija).
        </div>
    </div>
    <hr style="width:50%;text-align:left;margin-left:0">
    <div class="row">



        <div class="col-lg-3 col-sm-3 col-xs-12 col-3 text">

            U praktičnoj medicini ultrazvuk se primjenjuje u liječenju različitih reumatskih bolesti (ultrasonoterapija), u dijagnostici, osobito u opstetriciji (razvoj zametka, mnogostruka trudnoća, promjene placente i drugo) i u kardiologiji. Svojstva nekoga tkiva mogu se utvrditi na temelju brzine kojom se ultrazvuk širi u tkivu. Otpor što ga širenju ultrazvuka pružaju tkiva može se pretvaranjem odbijenih ultrazvučnih valova u električne impulse pratiti na zaslonu uz pomoć elektroničkih uređaja (ehokardiografija; ehooftalmografija; ehosonografija ili ultrasonografija; encefalografija).
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-0 col-1 text">

        </div>
        <div class="col-lg-7 col-sm-7 col-xs-12 col-7 text">
            <img src="~/slike/ordinacija22.jpg" alt="magnetna rezonanca" style="width: auto; height: auto; max-height: 400px; max-width: 100%;">
        </div>
    </div>
    <hr style="width:50%;text-align:left;margin-left:0">
    <div class="row">

        <div class="col-lg-7 col-sm-7 col-xs-12 col-7 text">
            <img src="~/slike/ordinacija3.jpg" alt="magnetna rezonanca" style="width: auto; height: auto; max-height: 400px; max-width: 100%;">
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-0 col-1 text">

        </div>
        <div class="col-lg-3 col-sm-3 col-xs-12 col-3 text">

            U praktičnoj medicini ultrazvuk se primjenjuje u liječenju različitih reumatskih bolesti (ultrasonoterapija), u dijagnostici, osobito u opstetriciji (razvoj zametka, mnogostruka trudnoća, promjene placente i drugo) i u kardiologiji. Svojstva nekoga tkiva mogu se utvrditi na temelju brzine kojom se ultrazvuk širi u tkivu. Otpor što ga širenju ultrazvuka pružaju tkiva može se pretvaranjem odbijenih ultrazvučnih valova u električne impulse pratiti na zaslonu uz pomoć elektroničkih uređaja (ehokardiografija; ehooftalmografija; ehosonografija ili ultrasonografija; encefalografija).
        </div>
    </div>
</div>


